<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity.caching"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"
             requirePermission="true" />
  </configSections>
  <unity.caching>
    <assembly name="Caching" />
    <namespace name="Caching.Services" />
    <namespace name="Caching.Interfaces" />
    <namespace name="Caching.Common" />
    <container>
      <!--<register type="ICachingService" mapTo="WebCachingService" />-->
      <!--<register type="ICachingService" mapTo="MemoryCachingService" />-->
      <register type="ICachingService" mapTo="RedisCachingService" />
    </container>
  </unity.caching>
  <appSettings>
    <add key="company:CacheExpireInSeconds" value="1200" />
    <!--<add key="company:RedisConnection" value ="nashuaug.redis.cache.windows.net,abortConnect=false,ssl=true,allowAdmin=true,password=f7CW+W2uzhFKKlTrO1jANth/N6QRDnG4uxa12MVtOXc="/>-->
    <add key="company:RedisConnection" value="127.0.0.1:6379" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>